@charset 'utf-8';


/* notice.html section */

section {
    width: 100%;
    padding:300px 0px;
}

section .inner1 {
    width: 1180px;
    margin: 0px auto;
    position: relative;
    padding-bottom:100px;


}

section .inner1 h1 {
    color: #222225;
    padding-bottom: 10px;
    position: absolute;
    border-bottom: 1px solid #1f1f1f;
}

section .inner1 .add {
    position: absolute;
    right: 10px;

}

.search {
    display: flex;
    padding: 20px 0;
    margin-top: 30px;
}

.register-btn {
    padding: 6px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.register-btn:hover {
    background-color: #555;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 850px;

}

.search-input {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 200px;

}

.search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #555;
}

section .inner1 .util {
    width: 100%;
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1f1f1f;
}

section .inner1 .util li {
    font: bold 17px/1 "arial";
    color: #444447;
}

.notice-list li {
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1f1f1f;


}

.notice-list .number {
    font: bold 14px/1 "arial";
    color: #444447;
}

.notice-list .author {
    font: bold 14px/1 "arial";
    color: #444447;
}

.notice-list a {
    font: bold 16px/1 "arial";
    color: #444447;
}

section .numbers{
    width: 100%;
    align-self: center;
    padding-top: 100px;
    font-size: bold 15px/1 "arial";
    text-align: center;
}

section .numbers button {
    width: 40px;
    padding: 6px;
    font-size: 13px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
section .numbers button:hover{
    background-color: #888;
}