@charset 'utf-8';

section {
    width: 100%;
    padding: 350px 0px  300px 0px;

}

section .inner {
    width: 1180px;
    height: 400px;
    margin: 0px auto;
    position: relative;

}
section .inner h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #222225;
}
section .inner .box{
    width: 500px;
    height: 215px;
    line-height: 80px;
    border: 2px solid #000;
    background-color: #d1cdcd;
    border-radius: 10px;
    font: bold;
    position:absolute;
    left: 340px;
    padding:50px ;
    padding-bottom: 30px;
    color: #222225;
}

section .inner .box #btn{
    width: 120px;
    color:#fff;
    background-color: #777;
    float: right;
    border-radius: 5px;
    margin: 10px;
}
section .inner .box #btn:hover{
    opacity: 0.8;
}

section .inner .box button{
    width: 120px;
    color:#fff;
    background-color: #777;
    float: right;
    border-radius: 5px;
    margin: 10px;
}
section .inner .box button:hover{
    opacity: 0.8;
}