
@charset 'utf-8';

/* 1nomalVideo.section */

section{
    width: 100%;
    padding:300px 0px;
}

section .in {
    width: 1180px;
    height: 700px;
    margin: 0px auto;
}
section .in h1{
    padding: 15px 0px;
    border-bottom:2px solid #1f1f1f ;
    color: #222225;
}
section .in video{
    padding: 30px 0px;
    width: 1180px;
    object-fit: cover;
}
section .in button {
    padding: 10px;
    float: right;
}
